@import "tailwindcss";

@theme {
  --color-background: #0b0f14;
  --color-surface: #111827;
  --color-elevated-surface: #1f2937;
  --color-accent: #3b82f6;

  --color-foreground: #e5e7eb;
  --color-secondary-foreground: #9ca3af;
  --color-muted: #6b7280;

  --color-border: #374151;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground;
  }
}
